@import "colors";
@import "mediaquery";

.footer {
  padding: 5px;
  //margin: 1px;
  width: 100%;
  height: auto;
  background-color: $fourth;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  z-index: 999;
}

.name {
  color: blue;
  // text-decoration: underline;
  border-bottom: 1px solid white;
  cursor: pointer;

  &:hover {
    color: white;
  }
}

.footerRight {
  background-color: black;
  width: 50%;
  height: auto;
  padding: 10px;
  margin: 10px;
  color: $fourth;
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid $fourth;
  border-bottom: 2px solid $fourth;
  // text-decoration: 4px underline overline;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}

.footerLeft {
  width: 50%;
  height: auto;
  background-color: $fourth;
  display: flex;
}

.footerTitle > h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
}
.footerTitle > h1 > em {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
}

.footerTitle > p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
}

.footerCenter {
  flex: 6;
}

.facebook {
  font-size: 25px;
  margin-right: 10px;
  /* color: blue; */
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.facebook:hover {
  color: rgb(0, 0, 255);
}

.twitter {
  font-size: 25px;
  margin-right: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.twitter:hover {
  color: rgb(0, 172, 240);
}

.pinterest {
  font-size: 25px;
  margin-right: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.pinterest:hover {
  color: rgb(255, 0, 0);
}

.instagram {
  margin-right: 10px;
  color: rgb(255, 255, 255);

  font-size: 25px;
  cursor: pointer;
}
.instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    rgb(252, 244, 150) 0%,
    rgb(253, 244, 150) 5%,
    rgb(253, 88, 73) 45%,
    rgb(214, 36, 157) 60%,
    rgb(40, 89, 235) 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footerList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footerListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.footerBottom {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

// .footerSocial a {
//   border-radius: 50px;
//   color: #3f345f;
//   display: inline-block;
//   line-height: 52px;
//   height: 50px;
//   width: 50px;
//   box-shadow: 0 5px 25px rgba(93, 70, 232, 0.15);
//   margin: 15px 15px;
//   font-size: 22px;
// }
// a {
//   text-decoration: none !important;
//   color: #3f345f;
//   transition: all 0.3s ease 0s;
// }

// .footerSocial a .facebook {
  
// }
