@import "colors";

.home {
  width: 100%;
  height: 100vh;
  background-color: $fourth;
  border-radius: 0 0 200px 200px;

  > main {
    position: absolute;
    //text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 2rem;
    justify-content: center;

    h1 {
      font-size: 150px;
      font-family: Georgia, "Times New Roman", Times, serif;
      color: $fourth;
    }

    em {
      font-size: 150px;
      font-family: Georgia, "Times New Roman", Times, serif;
      color: #fff;
    }

    p {
      font: 900 1rem $text1;
      color: #fff;
      text-transform: uppercase;
      font-family: Georgia, "Times New Roman", Times, serif;
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: no-repeat center/auto url("../assets/image052.png");
    filter: blur(0px);
    border-radius: 100px 100px 100px 100px;
  }
}

.home2 {
  width: 100%;
  height: 10vh;
  background-color: $fourth;
  padding: 205px 0;
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: -200px;
}
