@import "colors";

.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgb(255, 255, 255, 0.5),
        rgb(255, 255, 255, 0.5)
      ),
      url("https://cdn.pixabay.com/photo/2015/03/30/19/23/shell-699945_1280.jpg");
    background-size: cover;
  }
  
  .registerTitle{
      font-size: 60px;
      font-family: serif;
  }
  
  .registerForm{
      margin-top: 20px;
      display: flex;
      flex-direction: column;
  }
  
  .registerForm>label{
      margin: 10px 0;
  }
  
  .registerInput{
      padding: 10px;
      background-color: rgb(255, 255, 255);
      border: none;
  }
  
  .registerButton{
      margin-top: 20px;
      cursor: pointer;
      background-color: rgb(255, 69, 0);
      color: rgb(0, 0, 0);
      width: 150px;
      align-self: center;
      padding: 8px 30px;
      border: none;
      border-radius: 10px;
      font-size: 2.5vh;
  }
  .registerButton:hover{
      background-color: rgb(6, 138, 239);
      color: rgb(255, 255, 255);
  }
  
  .registerLoginButton{
      position: absolute;
      top: 90px;
      right: 20px;
      margin-top: 20px;
      cursor: pointer;
      background-color: rgb(128, 128, 128);
      color: rgb(0, 0, 0);
      width: 150px;
      align-self: center;
      padding: 8px 30px;
      border: none;
      border-radius: 10px;
      font-size: 2.5vh;
  }
  .registerLoginButton:hover{
      background-color: rgb(6, 138, 239);
      color: rgb(255, 255, 255);
  }